# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Ignore Visual Studio temporary files
.vs/
/libs/AceAddon-3.0
/libs/AceBucket-3.0
/libs/AceComm-3.0
/libs
/-OLD-AI_Manager.lua
/-OLD-AI_Manager.xml
